html{
    height: 100%;
}

body{
    background-color: #fafafa;
    color: black;
}

h1,h2,h3,h4,h5{
    font-family: 'Radley', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

.center-align{
    text-align: center;
    justify-content: center;
}

header{
    background-color: #fafafa !important;
}

hr{
    border: 1px solid rgb(231, 173, 107);
}

main{
    margin-top: 8rem;
}   

/* Navbar */

.navbar{
    text-align: center;
}

.navbar-nav li{
    margin-left: 5px;
    margin-right: 5px;
}

.main-logo{
    font-size: 3rem;
    color: rgb(231, 173, 107);
}

.icon {
    align-items: center;
    display: inline-flex; 
    justify-content: center;
    height: 1.2rem;
    width: 1.2rem;
}

.logo-font {
    text-transform: uppercase;
}

.nav-item{
    text-align: center;
    border: 2px solid rgb(231, 173, 107);
    border-radius: 10px;
    list-style: none;
}

.nav-item:hover{
    border: 1.4px solid rgb(231, 173, 107);
}

#deliver-banner{
    bottom: 0;
}

#delivery-banner h4{
    font-size: 1rem;
}

/* Buttons */

.button{
    border-radius: 5px;
}

.main-logo-link {
    width: fit-content;
}

.carousel-button {
    background: rgb(231, 173, 107);
    color: #222;
    min-width: 160px;
    font-size: 1rem;
}

.carousel-button:hover {
    background: rgb(160, 118, 71) !important;
    color: #fafafa;
}

.primaryAction{
    border-radius: 5px !important;
    background: rgb(231, 173, 107) !important;
    color: #fafafa;
    border: solid 1px rgb(231, 173, 107) !important;
}

.primaryAction:hover{
    background: rgb(204, 154, 97) !important;
    color: #fafafa;
}

.btn-orange{
    background: rgb(231, 173, 107) !important;
    color: #fafafa;
    border: solid 1px rgb(231, 173, 107) !important;
}

.btn-orange:hover{
    background: rgb(204, 154, 97);
    color: #fafafa;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid #222;
}

.btn-outline-black:hover{
    background: rgb(134, 134, 134);
    color: #fafafa !important;
}


/*-------------- Back to top buttons (courtesy of https://heathertovey.com/blog/floating-back-to-top-button/) ------ */

.back-to-top {
    background-color: rgb(231, 173, 107);
    border: 1px solid black;
    color: #ffffff;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    z-index: 999;
    position: fixed;
    right: 1rem;
    bottom: 3.5rem;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0%;
}

a.back-to-top {
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    padding-left: 2px;
    padding-top: 14px;
    border-radius: 50%;
}

.back-to-top:hover {
    background-color: rgb(204, 154, 97);
    color: #000000;
}

.back-to-top.show {
    opacity: 1;
}

/* Colours */

.text-orange{
    color: rgb(231, 173, 107);
}

.text-orange:hover{
    color:rgb(231, 173, 107);
}

.bg-orange{
    background: rgb(231, 173, 107);
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-white{
    background: #fafafa !important;
}

/* Landing Page */

.carousel, .carousel-inner, .carousel-inner img {
    height: 45rem;
}

.home-image{
    height: 25rem;
    width: 30rem;
}


/* Products Page */

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fafafa;
    z-index: -1;
}

.product-card{
    margin-bottom: 1rem;
}

.card{
    padding: 0.2rem;
    background-color: #fafafa;
}

.card-img-top{
    min-height: 20rem;
    max-height: 20rem;
    border-radius: 10px;

}

.details-image{
    height: 35rem;
    width: auto;
}

.card-body{
    background: #fafafa;
}

/* Bag */

.bag-image img{
    height: 15rem;
    width: 15rem;
}

.update-link{
    cursor: pointer;
}

.remove-item{
    cursor: pointer;
}

/* Checkout page */

#loading-overlay{
    background: grey !important;
}

/* Articles */

.article-container{
    text-align: center;
}

.articles{
    margin-top: 5rem;
    text-align: center;
}

.article-card-title .title-link{
    color: black;
    text-decoration: none;
    
}

.article-header-image{
    height: 25rem;
    background: url("/media/articles-hero.jpg") no-repeat center;
    background-size: cover;
    width: 1000%;
}

.article-image{
    align-items: center;
    height: 20rem;
    width: 80%;
}

.article-card-image{
    height: 15rem;
    width: auto;
}

.article-card-image img{
    height: 15rem;
    width: 20.5rem;
}

.article-intro{
    padding: 2rem;
    justify-content: space-around;
    word-wrap: break-word;
}

.article-content{
    padding: 2rem;
    justify-content: space-around;
    word-wrap: break-word;
}

/*----------------------- Block Divider (courtesy of https://codepen.io/stg/pen/ZYYQMJ) ------------------------- */

.divider {								/* minor cosmetics */
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						/* divider width */
    margin: 40px auto;					/* spacing above/below */
    background-color: #fafafa;
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 13px;							/* adjust vertical align */
    -moz-background-size: 100% 2px; 	/* line width */
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}

/*------------------ Footer----------------- */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 0;
  
  margin-top: 5rem;
  background-color: transparent;
}


footer ul {
  margin: 0;
}

.footer-flex {
  display: flex;
  min-height: 45vh;
  flex-direction: column;
  justify-content: space-between;
}

footer ul {
  margin: 0;
}

.social-media {
  text-align: center;
  bottom: 5px;
  padding: 0;
}

.social-media li {
  display: inline;
  text-decoration: none;
}

.social-media i {
  font-size: 1.8rem;
  margin: 1rem;
  text-decoration: none;
  color: #272727;
  bottom: 10px;
}


footer p{
   font-size: 1vmax !important;
   margin: 10px;
}

.copyright {
  text-align: center;
  color: #272727;
  
}

/* Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file{
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before{
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Allauth pages */

.allauth-form-inner-content{
    margin: 0 auto;
    width: 70%;
}

/* Media Queries */



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .list-inline-item{
        margin: 0 !important;
    }

    .carousel, .carousel-inner, .carousel-inner img{
        height: 25rem;
    }

    main{
    margin-top: 4rem;
    }  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main{
        margin-top: 4rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .social-media i {
    position: relative;
    font-size: 2vmax ;
    letter-spacing: 0px;
    padding: 20px;
    margin: 1%;
    text-decoration: none;
    color: #272727;
    bottom: 0px;
  }

   .increment-qty, .decrement-qty{
        padding: .25rem .5rem !important;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    main{
        margin-top: 8rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .container{
        max-width: 80%;
    }

    .carousel, .carousel-inner, .carousel-inner img{
        height: 40rem;
    }

    main{
        margin-top: 10rem;
    }
}

