html{
    height: 100%;
}

body{
    background-color: #fafafa;
    color: black;
}

h1,h2,h3,h4,h5{
    font-family: 'Radley', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

.center-align{
    text-align: center;
}

header{
    background-color: #fafafa !important;
}

/* Navbar */

.icon {
    align-items: center;
    display: inline-flex; 
    justify-content: center;
    height: 1.2rem;
    width: 1.2rem;
}

.logo-font {
    text-transform: uppercase;
}


/* Buttons */

.main-logo-link {
    width: fit-content;
}

.carousel-button {
    background: black;
    color: white;
    min-width: 160px;
    font-size: 1rem;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/*-------------- Back to top buttons (courtesy of https://heathertovey.com/blog/floating-back-to-top-button/) ------ */

.back-to-top {
    background-color: #000000;
    color: #ffffff;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0%;
}

a.back-to-top {
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    padding-left: 2px;
    padding-top: 14px;
    border-radius: 50%;
}

.back-to-top:hover {
    background-color: #999999;
    color: #000000;
}

.back-to-top.show {
    opacity: 1;
}

/* Colours */

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-white{
    background: #fafafa !important;
}

/* Landing Page */

.carousel{
    height: 32rem;
    width: 100%;
}

.carousel-inner{
    height: 32rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    
}

.carousel-inner img{
    height: 32rem;
    width: 100%;
}

.carousel-caption a{
    margin-top: 1rem;
}



/* Products Page */

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fafafa;
    z-index: -1;
}

.card-img-top{
    min-height: 20rem;
    max-height: 20rem;
}

.details-image{
    height: 35rem;
    width: auto;
}

.card-body{
    background: #fafafa;
}

/* Bag */

.bag-image{
    height: 20rem;
    width: auto;
}

.update-link{
    cursor: pointer;
}

.remove-item{
    cursor: pointer;
}

/* Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Media Queries */

/* Slightly larger container on XL screens */

@media (min-width:1500px){
    .carousel, .carousel-inner, .carousel-inner img{
        height: 40rem;
    }
}

@media(min-width:1200px){
    .container{
        max-width: 80%;
    }
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
