<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="homeware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=planters" class="dropdown-item">Planters</a>
                <a href="{% url 'products' %}?category=vases" class="dropdown-item">Vases</a>
                <a href="{% url 'products' %}?category=decorative" class="dropdown-item">Decorative</a>
                <a href="{% url 'products' %}?category=planters,vases,decorative" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="kitchenware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kitchenware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=crocery" class="dropdown-item">Crocery</a>
                <a href="{% url 'products' %}?category=teapots" class="dropdown-item">Teapots</a>
                <a href="{% url 'products' %}?category=jugs" class="dropdown-item">Jugs</a>
                <a href="{% url 'products' %}?category=crocery,teapots,jugs" class="dropdown-item">All Kitchenware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="collectionsg-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=clayton_robbins" class="dropdown-item">Clayton Robbins</a>
                <a href="{% url 'products' %}?category=darya_ginger" class="dropdown-item">Darya Ginger</a>
                <a href="{% url 'products' %}?category=oriento" class="dropdown-item">Oriento</a>
                <a href="{% url 'products' %}?category=tom_crew" class="dropdown-item">Tom Crew</a>
                <a href="{% url 'products' %}?category=clayton_robbins,tom_crew,darya_ginger,oriento" class="dropdown-item">All Collections</a>
            </div>
        </li>

    </ul>
</div>