<div class="article-card">
    <div class="article-card-image">
        <a href="{% url 'individual_article' article.slug %}">
            <img src="{{ MEDIA_URL }}{{ article.article_image }}" class="article-card-image" alt="article_image">
        </a>
    </div>
    <h2 class="article-card-title">
        <a href="{% url 'individual_article' article.slug %}" class="title-link">{{ article.title }}</a>
    </h2>
    <p class="mt-1">
        published on {{ article.date }}
    </p>
    
    <p>{{ article.intro|truncatechars:100 }}</p>
</div>