{% extends "base.html" %}

{% load static %}

{% block extra_title %}
Talks
{% endblock %}

{% block page_header %}
<main>
    <div class="container container-fluid center-align">
<div class="w-100 article-image">
    <img src="{{ MEDIA_URL}}{{ articles.article_image }}" class="article-image" alt="article_image">
</div>
</div>
</main>
{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid article-container">

            <div class="container">
            

                <div class="row center-align">
                    <h1 class="h1-style text-center mt-3">{{ articles.title }}</h1>
                </div>

                <div class="row">
                    <div class="container">
                        <p class="paragraph-margin blog-post-publishing-details">
                            <small>published on {{ articles.date }}</small>
                        </p>
                        {% if request.user.is_superuser %}
                            <small class="ml-3">
                            <a href="{% url 'edit_article' articles.slug %}">Edit</a>
                            <a href="{% url 'delete_article' articles.slug %}" class="text-danger">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="container container-fluid center-align">
                        <p class="article-intro">
                            {{ articles.intro }}
                        </p>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="container container-fluid center-align">
                        <p class="article-content">
                            {{ articles.article_content }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="row center-align">
                <a href="{% url 'articles' %}" class="btn btn-black rounded-50 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text-uppercase">Back to TŌKI Talks</span>
                </a>
            </div>

        </div>

    </section>
{% endblock %}